[AUTOUPDATE]
# Diese Datei liegt im Wurzelverzeichnis des GitHub-Repositories und
# steuert das Auto-Update. Bei jedem Release beide URLs und VERSION
# auf den neuen Tag anpassen.

# Version des aktuellen Releases
VERSION=1.2.21
# Download-URL des ZIP-Archivs (von GitHub automatisch erzeugt)
ARCHIVEURL=https://github.com/timanders22/LoxBerry-Plugin-Spotpreis-aWATTar/archive/refs/tags/v1.2.21.zip

# URL mit weiteren Informationen zum Release
INFOURL=https://github.com/timanders22/LoxBerry-Plugin-Spotpreis-aWATTar/releases/tag/v1.2.21
